<!DOCTYPE html>
<html lang="en" xmlns:th"http://www.thymelaef.org" th:replace="~{userbase::layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section>
    <h4>  User Profile </h4>
    <section>
    <div class="row">
    	<div class="col-md-6 offset-md-3 mt-3">
    		<div class="card">
    			<div class="card-body">
    				<div class="container text-center">
    					<img alt="image" src="images/profile.jpg" style="height: 100px">
    					<h5 th:text="${employee.empName}"></h5>
    					<p th:text="${employee.designation}"></p>
    				</div>
    				<hr>
    				<table class="table">
						  <tbody>
						   <tr>
                        <th>Email</th>
                        <td th:text="${employee.email}">johndoe@example.com</td>
                    </tr>
                    <tr>
                        <th>Contact Number</th>
                        <td th:text="${employee.mobile}">+1 123-456-7890</td>
                    </tr>
                    <tr>
                        <th>Gender</th>
                        <td th:text="${employee.gender}">Male</td>
                    </tr>
                    <tr>
                        <th>Joining Date</th>
                        <td th:text="${employee.doj}">01-01-2020</td>
                    </tr>
                    <tr>
                        <th>Department</th>
                        <td th:text="${employee.department}">IT</td>
                    </tr>
                    <tr>
                        <th>Current Address</th>
                        <td th:text="${employee.currentAddress}">123 Main Street, City</td>
                    </tr>
                    <tr>
                        <th>Permanent Address</th>
                        <td th:text="${employee.permanentAddress}">456 Elm Street, City</td>
                    </tr>

						  </tbody>
						</table>
    			</div>
    		</div>
    	</div>
    </div>
    		
    	 <div class="text-center actions">
                <a href="/all-employee" class="btn btn-primary">Edit Profile</a>
                <a href="/logout" class="btn btn-secondary">Logout</a>
            </div>

         
    </section>
</body>
</html>